body {
    background: grey;
}


 h1 {
  text-align: center;
  color: grey;
  text-shadow: black 0px 1px;
 }

h1 span{
  text-align: center;
  border: 2px solid blue;
  border-radius: 10px;
  background: red;
  padding: 10px 30px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 150%;
}

#start-button {

}

#view-high-scores {

}

#time-header {

}

#time-remaining{
  
}

.button {

}

.quiz-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightgrey;
  padding: 50px;
}

.quiz-end-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* .hidden{
  display: none;
} */