/* I recognize that there are some things in here than can be set to a variable instead of using the same style again and again. I did not originally plan on them to all use the same styles, and since this is an assignment, it will not change in the future, so I did not go back and assign variables */

body {
    background: grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


 h1 {
  text-align: center;
  color: lightgrey;
  text-shadow: black 0px 1px;
  padding: 20px;
  font-size: 300%;
 }

h1 span{
  text-align: center;
  border: 2px solid blue;
  border-radius: 10px;
  background: red;
  padding: 10px 30px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 150%;
}

h2 span {
    background: lightgrey;
    border: 2px solid blue;
    padding: 50px;
    border-radius: 20px;
}

h3 {
    background: lightgrey;
 border: 2px solid blue;
 padding: 20px 30px;
 border-radius: 20px;
}

.quiz-end-screen p{
background: lightgrey;
 border: 2px solid blue;
 padding: 20px 30px;
 border-radius: 20px;
}

#start-button {
 font-size: 20px;
}

#view-high-scores {
 background: lightgrey;
 border: 2px solid blue;
 padding: 20px 30px;
 border-radius: 20px;
}

#time-header {
 background: lightgrey;
 border: 2px solid blue;
 padding: 20px 30px;
 border-radius: 20px;
}

#time-remaining-text{
}

#correct-answers-text {
  font-size: 150%;
}

.button {
  border-radius: 5px;
}

.quiz-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.quiz-end-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* .hidden{
  display: none;
} */